@import url(fonts.css);

@media screen and (max-width: 600px) {

    body {
        background-color: #F4ECD6;
        margin: 0;
        padding-bottom: 1em;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 1em;
    }

    a {
        color: #F24236;
        text-decoration: none;
    }

    i {
        color: #F26419;
    }

    .welcometolapavilionpicdiv {
        width: 100%;
        height: 5%;
    }

    .welcometolapavilionpic {
        width: 100%;
    }

    .article-welcometolapaviliondiv {
        
    }

    .title-welcome-to-la-pavilion {
        font-family: build;
        font-size: 50px;
        font-weight: normal;
        color: #392A16;
        padding-left: 0.3em;
        padding-right: 0.3em;
    }

    .text-welcome-to-la-pavilion {
        font-family: instrumentsans;
        padding-left: 1em;
        padding-right: 1em;
    }

    .headbackhomediv {
        color: white;
        background: #462521;
        width: 6em;
        border-radius: 10px;
        padding: 0.3em 1em 0.3em 1em;
        text-align: center;
    }

    .headbackhomediv:hover {
        background: white;
        color: black;
    }

    .headbackhometext {
        text-decoration: none;
        font-family: instrumentsans;
        align-self: center;
    }
}